.button {
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  color: var(--light-color-for-dark-theme-logo);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--button-shadow-color);
  transition: box-shadow 250ms var(--time-func),
  background-color 250ms var(--time-func);


    &:hover,
    &:focus {
      background-color: var(--hover-accent-color);
      box-shadow: 0px 4px 4px var(--button-shadow-color);
    }
}