:root {
    --accent-color: #2196f3;
    --hover-accent-color: #188ce8;
    --header-contact-color: #757575;
    --header-link-color: #212121;
    --plain-text: #757575;
    --header-color: #212121;
    --background-white: #ffffff;
    --contrast-background: #2f303a;
    --body-accent-background: #f5f4fa;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --dark-color-for-light-theme-logo: #000000;
    --light-color-for-dark-theme-logo: #ffffff;
    --project-list-border: #eeeeee;
    --header-border: #ececec;
    --social-madia-logo-color: #afb1b8;
    --heroe-background: #c4c4c4;
    --heroe-overlay: rgba(47, 48, 58, 0.4);
    --project-overlay: rgba(33, 150, 243, 0.9);
    --modal-over-color: rgba(0, 0, 0, 0.2);
    --footer-social-background: rgba(255, 255, 255, 0.1);
    --footer-modal-border-color: rgba(255, 255, 255, 0.3);
    --about-gradient-color: rgba(47, 48, 58, 0.8);
    --time-func: cubic-bezier(0.4, 0, 0.2, 1);
    --form-input-border: rgba(33, 33, 33, 0.2);
    --placeholder-text-color: rgba(117, 117, 117, 0.5);
    --button-shadow-color: rgba(0, 0, 0, 0.15);
}